---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/navbar.astro';
import Footer from '../components/footer.astro';
import '../styles/global.css';
---
<head>
    <title>vejas.zip - about</title>
</head>

<Layout>
<Nav />

<div class="px-auto space-x-2 space-y-4 text-left mx-auto">
    <h1 class="text-text text-4xl font-bold text-center mt-10 mb-16">About Me</h1>
        <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 max-w-6xl items-start px-4 py-4">
            <div class="flex flex-col w-full max-w-xl gap-4 bg-white p-5 rounded-xl border border-gray-400/50 mb-8 shadow">
                <p class="text-2xl">Hey! I'm Vejas, a 15 years old high school student in Luxembourg &#x1f1f1;&#x1f1fa;.</p>
                <p class="text-2xl">I joined <a href="https://hackclub.com" target="_blank" class="text-blue-600 hover:text-2xl hover:text-underline hover:decoration-wavy hover:text-blue-500">Hack Club</a> this year to learn more about electronics and programming. Since joining, I have created several harware projects like A Raspberry Pi Pico clone and a macropad, and this website is (currently) my biggest software adventure yet.</p>
                <p class="text-2xl text-text">If you want to find out more about what I like scroll down to find out my favorite music, games, etc. For projects I have made go to my <a href="/projects" class="text-blue-600 hover:text-2xl hover:text-underline hover:decoration-wavy hover:text-blue-500">projects page</a>.</p>
            </div>
            <div class="flex flex-col w-full max-w-xl gap-4 bg-white p-5 rounded-xl border border-gray-400/50 mb-8 shadow">
                <h3 class="text-2xl font-semibold">My hobbies</h3>
                <ul class="list-disc space-y-4 list-inside text-2xl">
                    <li>Coding (obviously)</li>
                    <li>Building keyboards and other electronics</li>
                    <li>Listening to music (white girl, pop and classical)</li>
                    <li>Swimming &#x1f3ca;</li>
                    <li>Playing piano &#127929;</li>
                    <li>Smart homes and home automation</li>
                </ul>
            </div>
        </div>
    <div class="title-wrapper my-10 px-4">
        <h2 class="text-3xl font-semibold text-center">My skills</h2>
        <div class="flex ">

        </div>
    </div>

</div>

</Layout>

<style>
    .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-inline: 2rem;
}

.side-line {
  flex: 1;
  height: 1.5px;
  background: #696969;
  border-radius: 999px;
}

</style>