---
import Nav from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---
<head></head>
    <title>vejas.zip - projects</title>
</head>
<Layout>
<Nav />
<div class="text-center">
<h1 class="text-4xl font-bold text-center mt-10 mb-3">My Projects</h1>

<p class="text-center text-xl mx-10 my-4">I really like working on hardware projects (even though im a beginner at electronics). My projects consist of some (wannabe)keyboards and other little things. </p>

<div class="m-5 grid grid-cols-1 md:grid-cols-3 gap-4">

    <div class="bg-primary/15 rounded border border-primary dark:border-primary-dark">
        <h2 class="text-2xl font-semibold text-center mt-3">Wind75</h2>
        <img class="rounded rotate-90 w-relative h-1rem" src="" alt="">
        <p class="m-3">A 75% keyboard that is a total work in progress.</p>
        <div class="flex justify-center mx-auto mb-3">
            <a href="https://github.com/las-vejas/wind75" class="rounded-lg py-1 px-2 bg-blue-600 text-text-dark">See on GitHub</a>
        </div>
    </div>

    <div class="bg-primary/15 rounded border border-primary my-auto">
        <h2 class="text-2xl font-semibold text-center mt-3">Wind16</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3">A 16 key macropad with per-key rgb and QMK software.</p>
        <div class="flex justify-center mx-auto mb-3">
            <a href="https://github.com/las-vejas/wind16" class="rounded-lg py-1 px-2 bg-blue-600 text-text-dark">See on GitHub</a>
        </div>
    </div>

    <div class="bg-primary/15 rounded border border-primary">
        <h2 class="text-2xl font-semibold text-center mt-3">Wind47</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3">This is a 60% ortholinear keyboard with a lot of flaws... </p>
        <div class="flex justify-center mx-auto mb-3">
            <a href="https://github.com/las-vejas/wind47" class="rounded-lg py-1 px-2 bg-blue-600 text-text-dark">See on GitHub</a>
        </div>
    </div>

    <div class="bg-primary/15 rounded border border-primary">
        <h2 class="text-2xl font-semibold text-center mt-3">Vejas2040</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3">This is a split ergonomic keyboard with a numpad on the right side. </p>
        <div class="flex justify-center mx-auto mb-3">
            <a href="https://github.com/las-vejas/vejas2040" class="rounded-lg py-1 px-2 bg-blue-600 text-text-dark">See on GitHub</a>
        </div>
    </div>

    <div class="bg-primary/15 rounded border border-primary ">
        <h2 class="text-2xl font-semibold text-center mt-3">VejasAuth</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3">A fido key that I made for easier logins at school using passkeys.</p>
        <div class="flex justify-center mx-auto mb-3">
            <a href="https://github.com/las-vejas/vejasauth" class="rounded-lg py-1 px-2 bg-blue-600 text-text-dark">See on GitHub</a>
        </div>
    </div>

    <div class="bg-primary/15 rounded border border-primary">
        <h2 class="text-2xl font-semibold text-center mt-3">WindF12</h2>
        <img class="rounded rotate-90 w-1rem h-relative" src="" alt="">
        <p class="m-3">An F12 key layout 'macropad' for people that use 60% keyboards.</p>
        <div class="flex justify-center mx-auto mb-3">
            <a href="https://github.com/las-vejas/windf12" class="rounded-lg py-1 px-2 bg-blue-600 text-text-dark">See on GitHub</a>
        </div>
    </div>

</div>
</div>
</Layout>