---
import Nav from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import '../styles/global.css';
---
<head></head>
    <title>vejas.zip - projects</title>
</head>
<Layout>
<Nav />
<div class="px-auto space-x-2 space-y-4 text-left mx-auto"></div>
<h1 class="text-4xl font-bold text-center mt-10 mb-3">My Projects</h1>

<p class="text-center text-xl mx-10 my-4">I really like working on hardware projects (even though im a beginner at electronics). My projects consist of some (wannabe)keyboards and other little things. </p>

<div class="text-left mb-10 m-5 grid grid-cols-1 gap-4">

    <ProjectCard title="Wind75" description="A 75% keyboard that isn't very good or finished..." link="https://github.com/las-vejas/wind75" />
    <ProjectCard title="Wind16" description="A 16 key macropad with per-key rgb and QMK software." link="https://github.com/las-vejas/wind16" />
    <ProjectCard title="Wind47" description="This is a 60% ortholinear keyboard with a lot of flaws..." link="https://github.com/las-vejas/wind47" />
    <ProjectCard title="Vejas2040" description="This is a split ergonomic keyboard with a numpad on the right side." link="https://github.com/las-vejas/vejas2040" />
    <ProjectCard title="VejasAuth" description="A fido key that I made for easier logins at school using passkeys." link="https://github.com/las-vejas/vejasauth" />
    <ProjectCard title="WindF12" description="An F12 key layout 'macropad' for people that use 60% keyboards." link="https://github.com/las-vejas/windf12" />
    <ProjectCard title="vejas.site" description="This website you are currently on! took a lot of time lol" link="https://github.com/las-vejas/personalsiteysws" />


</div>
</div>

</Layout>

<style>
    .h2 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
</style>    