---
import Nav from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
import '../styles/global.css';

---
<head></head>
    <title>vejas.zip - setup</title>
</head>

<Layout>

<Nav />
<h1 class="text-4xl font-bold text-center mt-10 ">My setup!</h1>
<div class="m-5 space-y-5 text-lg">
    <p>Currently I don't know how to setup this page, but here is my setup in list form!</p>
    <ul class="list-disc list-inside">
        <li>Macbook Air M1</li>
        <li>Nuphy Halo75 V2 (getting delivered...)</li>
        <li>SteelSeries Rival 3 Wireless</li>
    </ul>
    <p>I'm hoping to make this page prettier and include more information on why I have picked these items.</p>
</div>
</div>
</Layout>