---
import logo from '../assets/logo.svg?url';
---
<div class="bg-(--background) sticky top-0 w-full h-16 flex items-center justify-between px-6 space-x-10 text-center">
    <div>
        <a href="/"><img src={logo} class="h-10 w-auto" alt="lasvejas text as a logo"></a>
    </div>
    <div class="flex gap-4">
    <a href="/about"><button class="button"><p class="m-1 mx-2">About</p></button></a>
    <a href="/contact"><button class="button2"><p class="m-1 mx-2">Contact</p></button></a>
    <a href="/projects"><button class="button3"><p class="m-1 mx-2">Projects</p></button></a>
    <a href="/guestbook"><button class="button3"><p class="m-1 mx-2">Guestbook</p></button></a>
</div>
</div>

<style>
    .button {
        align-items: middle;
        rotate:2deg;
    }
    .button:hover {
        rotate: 0deg;
        text-decoration: underline;
        scale: 1.15;
        
    }

    .button2 {
        align-items: middle;
        rotate:3deg;
        
    }
    .button2:hover {
        rotate: 0deg;
        text-decoration: underline;
        scale: 1.15;
    }

    .button3 {
        align-items: middle;
        rotate:-5deg;
    }
    .button3:hover {
        rotate: 0deg;
        text-decoration: underline;
        scale: 1.15;

</style>