---
import logo from '../assets/logo.svg?url';
---
<div class="w-full h-16 flex justify-center items-center mx-5 space-x-10 text-center">
    <div>
        <a href="/"><img src={logo} class="h-10 w-auto" alt="lasvejas text as a logo"></a>
    </div>   
</div>