---
// src/components/ProjectCard.astro
const { title, description, link } = Astro.props;
---
<div class="bg-primary/15 rounded border border-primary dark:border-primary-dark">
  <h2 class="text-2xl font-semibold mt-3 mx-3">{title}</h2>
  <p class="m-3">{description}</p>
  <div class="flex justify-center mx-auto mb-3">
    <a href={link} class="rounded-lg py-1 px-2 bg-blue-600 text-text-dark">See on GitHub</a>
  </div>
</div>